/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.notification-badge {
    position: relative;
    top: -7em;
    right: -2em;
    color: #941e1e;
    background-color: #f5f1f2;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 5px 10px;
}

.notification-badge.mobile {
    position: relative;
    top: -1em;
    right: 3em;
    color: #f5f1f2;
    background-color: #941e1e;
    margin: 0 -.8em;
    border-radius: 50%;
    padding: 5px 10px;
}

.copyright {
    font-size: inherit;
}

.rounded {
    border-radius: 3em;
}

.height-fill {
    height: 100%;
}

.width-fill {
    width: 100%;
}

.carousel {
    min-height: 600px;
}

.image-badge {
    padding: 0 6px;
    font-size: 1rem;
    line-height: 22px;
    color: #757575;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    position: absolute;
    left: 1em;
    top: 1em;
}
.input-field .prefix.active {
    color: #F44336;
}
